---

---

<section class="min-h-[70vh] fade-in pb-12" id="certifications">
	<h2 class="title">Certifications</h2>
	<div>
		<div>
			<p class="text-lg text-white">
				Professional Certificate in Full Stack Software Development
			</p>
			<small>MERN stack node and AWS</small>
			<ul class="pl-8 py-2 list-disc">
				<li>
					Demonstrates expertise in developing full stack applications using the
					MERN stack (MongoDB, Express, React, Node.js
				</li>
			</ul>
			<small class="block pt-4">July 2024</small>
			<a
				class="inline-block text-orange-400 hover:text-purple-400 duration-300 transition-all"
				target="_blank"
				href="/certs/full-stack-cert.jpg">View Certification</a
			>
		</div>

		<div>
			<p class="text-lg text-white">FreeCodeCamp Certifications</p>
			<ul class="pl-8 py-2 list-disc">
				<li class="pb-2">
					<span class="text-white">Responsive Web Design</span>
					<small class="block">September 2024</small>
					<a
						class="block text-orange-400 text-md hover:text-purple-400 duration-300 transition-all"
						target="_blank"
						href="/certs/free_code_camp_web.jpg">View Certification</a
					>
				</li>
				<li class="pb-2">
					<span class="text-white"
						>JavaScript Algorithms and Data Structures</span
					>
					<small class="block">September 2024</small>
					<a
						class="block text-orange-400 text-md hover:text-purple-400 duration-300 transition-all"
						target="_blank"
						href="/certs/free_code_camp_js.png">View Certification</a
					>
				</li>
			</ul>
		</div>

		<div>
			<p class="text-lg text-white">Net+</p><small>CompTIA</small>
			<ul class="pl-8 py-2 list-disc">
				<li>
					Strong foundation in networking concepts, including network
					configuration, management, and troubleshooting.
				</li>
			</ul>
			<small class="block pt-4">March 2011</small>
			<a
				class="inline-block text-orange-400 hover:text-purple-400 duration-300 transition-all"
				target="_blank"
				href="/certs/net-plus.jpg">View Certification</a
			>
		</div>
		<div>
			<p class="text-lg text-white">A+</p><small>CompTIA</small>
			<ul class="pl-8 py-2 list-disc">
				<li>
					Validates comprehensive skills in IT hardware and software, including
					installation, configuration, and support.
				</li>
			</ul>
			<small class="block pt-4">March 2011</small>
			<a
				class="inline-block text-orange-400 hover:text-purple-400 duration-300 transition-all"
				target="_blank"
				href="/certs/a-plus.jpg">View Certification</a
			>
		</div>
	</div>
</section>
