<section class="min-h-[70vh] fade-in" id="contact">
	<h2 class="title">Contact</h2>
	<div class="flex flex-col md:flex-row justify-center items-center gap-8">
		<div class="w-full md:w-1/2">
			<h3 class="text-2xl font-semibold text-white mb-4">Get in Touch</h3>
			<p class="text-white mb-6">
				Have a project in mind or just want to say hello? Feel free to reach
				out.
			</p>
			<a
				href="mailto:cjkarkut@kutsolutions.com"
				class="text-blue-500 hover:text-blue-300">cjkarkut@kutsolutions.com</a
			>
		</div>
		<div class="w-full md:w-1/2">
			<h3 class="text-2xl font-semibold text-white mb-4">Join my Discord</h3>
			<p class="text-white mb-6">
				Connect with me and other like-minded individuals on my Discord server.
			</p>
			<a
				target="_blank"
				href="https://discord.gg/3UZREEwx"
				class="text-blue-500 hover:text-blue-300">Join my Discord</a
			>
		</div>
		<div class="w-full md:w-1/2">
			<h3 class="text-2xl font-semibold text-white mb-4">Connect with Me</h3>
			<p class="text-white mb-6">Let's grow our connections</p>
			<div class="flex flex-col gap-4">
				<p class="text-white relative">
					<span
						id="copyTag"
						class="absolute opacity-0 bg-white text-green-500 p-2 rounded-lg opacity -top-10 left-28 transition-all duration-500"
						>Copied to Clipboard</span
					>
					Discord UserId: <span
						id="discordId"
						title="Click to copy"
						class="text-slate-400 hover:text-blue-500 cursor-pointer"
					>
						597177694932697099
					</span>
				</p>
				<a
					target="_blank"
					href="https://www.linkedin.com/in/christopher-karkut-046147293"
					class="text-blue-500 hover:text-blue-300">Connect on LinkedIn</a
				>
			</div>
		</div>
	</div>
</section>
