---

---

<section class="min-h-[70vh] pb-12" id="education">
	<h2 class="title">Education</h2>
	<div>
		<div>
			<p class="text-white">Self Taught Development</p>
			<small>2023 - Current</small>
			<div class="flex flex-row justify-around pt-4">
				<ul class="pl-6 list-disc">
					<li>Semantic-UI</li>
					<li>Tailwind</li>
					<li>Postmark API</li>
					<li>Stripe API</li>
					<li>ViTest</li>
					<li>Zustand</li>
				</ul>
				<ul class="pl-6 list-disc">
					<li>Astro</li>
					<li>React</li>
					<li>React-Dom</li>
					<li>React-router</li>
					<li>React-hook-form</li>
					<li>React-Native</li>
				</ul>
			</div>
		</div>
		<div>
			<p class="text-white">Mentored Learning</p>
			<small class="block">2021 - 2023</small>
			<p>Mentor: Bobby Johnson Senior Full Stack Developer</p>
			<div class="flex flex-row justify-around pt-4">
				<ul class="pl-6 list-disc">
					<li>HTML</li>
					<li>CSS</li>
					<li>JavaScript</li>
					<li>TypeScript</li>
					<li>StencilJs</li>
				</ul>
				<ul class="pl-6 list-disc">
					<li>Node</li>
					<li>Express</li>
					<li>Firebase</li>
					<li>Cloud Functions</li>
					<li>Jest</li>
				</ul>
			</div>
		</div>
		<div>
			<p class="text-white">TexasMcCombs Great Learning</p>
			<small class="block">2023 - 2024</small>
			<a
				class="inline-block text-orange-400 hover:text-purple-400 duration-300 transition-all text-sm"
				target="_blank"
				href="/certs/full-stack-cert.jpg">View Certification</a
			>
			<div class="flex flex-row justify-around pt-4">
				<ul class="pl-6 list-disc">
					<li>React</li>
					<li>Bootstrap</li>
					<li>JQuery</li>
					<li>Redux</li>
				</ul>
				<ul class="pl-6 list-disc">
					<li>SQL</li>
					<li>MongoDB</li>
					<li>Mongoose</li>
					<li>AWS</li>
				</ul>
			</div>
			<div class="flex justify-center">
				<a
					class="py-4 text-orange-400 text-lg cursor-pointer transition-all duration-300 hover:text-purple-400 hover:text-xl"
					target="
            _blank"
					href="https://www.mygreatlearning.com/eportfolio/cj-karkut"
					>View Detailed Learnings</a
				>
			</div>
		</div>
		<div>
			<p class="text-white">Four Rivers Career Center</p>
			<small class="block">2009 - 2010</small>
			<a
				class="inline-block text-orange-400 hover:text-purple-400 duration-300 transition-all text-sm"
				target="_blank"
				href="/certs/four-rivers.jpg">View Certification</a
			>
			<div class="flex flex-row justify-around pt-4">
				<ul class="pl-8 list-disc">
					<li>CompTIA A+</li>
				</ul>
				<ul class="pl-8 list-disc">
					<li>CompTIA Net+</li>
				</ul>
			</div>
		</div>
		<div>
			<p class="text-white">STC High School</p>
			<small class="block">2006 - 2010</small>
			<a
				class="inline-block text-orange-400 hover:text-purple-400 duration-300 transition-all text-sm"
				target="_blank"
				href="/certs/high-school.jpg">View Diploma</a
			>
			<div class="flex flex-row justify-around pt-4">
				<ul class="pl-8 list-disc">
					<li>High School Diploma</li>
				</ul>
				<ul class="pl-8 list-disc">
					<li>Vocational Training in Information Technology</li>
				</ul>
			</div>
		</div>
	</div>
</section>

<style></style>
