---

---

<section class="min-h-[70vh] fade-in pb-12" id="work">
	<h2 class="title">Work</h2>
	<div class="vertical-bar">
		<div class="horizontal-element">
			<p class="text-white">Full Stack Developer</p>
			<small>Kutsolutions</small>
			<ul class="pl-6 list-disc">
				<li class="pb-3">
					Orchestrated front-end development with React and Tailwind, creating a
					Progressive Web App (PWA) that delivers responsive and intuitive user
					interfaces across devices.
				</li>
				<li class="pb-3">
					Implemented responsive design principles to build dynamic websites
					that adapt to different screen sizes, focusing on a mobile-first user
					experience.
				</li>
				<li class="pb-3">
					Architected RESTful APIs using Express, ensuring seamless integration
					between the front end and back end.
				</li>
				<li class="pb-3">
					Enhanced API security through custom middleware and OAuth token-based
					authentication, safeguarding user data.
				</li>
				<li class="pb-3">
					Developed a performant, server-side rendered website using Astro,
					optimizing load times and SEO.
				</li>
				<li class="pb-3">
					Integrated Stripe for seamless payment processing, including
					implementing and managing webhooks for real-time transaction updates.
				</li>
				<li class="pb-3">
					Leveraged Firebase as a backend solution, utilizing cloud functions to
					streamline serverless operations and improve scalability.
				</li>
				<li class="pb-3">
					Integrated the Postmark email API, enabling efficient and reliable
					transactional email delivery.
				</li>
				<li class="pb-3">
					TypeScript testing using ViTest, ensuring code quality and reliability
					across the application.
				</li>
			</ul>
		</div>
		<div class="horizontal-element">
			<p class="text-white">Junior Developer</p>
			<small>The Flood Team</small>
			<ul class="pl-6 list-disc">
				<li class="pb-3">
					Crafted customizable email templates using HTML, CSS, and Handlebars,
					seamlessly integrating dynamic data fields to automate email
					generation and boost operational efficiency.
				</li>
				<li class="pb-3">
					Developed and deployed internal application tools that significantly
					enhanced production workflows and team productivity
				</li>
				<li class="pb-3">
					Diagnosed and resolved critical software bugs, leading to a more
					stable and reliable application, resulting in improved user
					satisfaction.
				</li>
				<li class="pb-3">
					Streamlined the global state management system, reducing data fetch
					times and elevating the overall user experience through performance
					optimizations.
				</li>
				<li class="pb-3">
					Executed comprehensive testing strategies with Jest, ensuring robust
					and bug-free application releases.
				</li>
				<li class="pb-3">
					Contributed to the creation of responsive web applications,
					prioritizing mobile compatibility and optimization.
				</li>
			</ul>
		</div>
	</div>
</section>
