---
import Card from "../components/Astro/Card.astro";
import Layout from "../layouts/Layout.astro";
const skills = [
	"React",
	"Node",
	"Typescript",
	"JavaScript",
	"Firebase",
	"AWS",
	"Tailwind",
	"Mongo",
	"StencilJs",
	"Git",
	"Stripe",
	"Postmark",
	"Jest",
	"ViTest",
	"SQL",
	"Express",
	"PWA",
	"Astro",
];
---

<Layout title="CJ's Portfolio">
	<div class="relative">
		<section class="min-h-[70vh] sm:pt-4 md:pt-12 fade-in" id="intro">
			<div class="sm:p-4 md:pl-4 md:pr-28 leading-7">
				<div class="pb-12 flex flex-row justify-evenly text-center text-white">
					<a
						class="bg-gradient-to-r from-blue-500 to-red-400 rounded-md shadow-md hover:bg-gradient-to-r hover:from-blue-600 hover:to-red-500 transition-all duration-300 ease-in-out hover:scale-105 p-2 min-w-20"
						target="_blank"
						href="/CjKarkutResume.pdf">Resume</a
					>
					<a
						class="bg-gradient-to-r from-blue-400 to-blue-600 rounded-md shadow-md hover:bg-gradient-to-r hover:from-blue-500 hover:to-blue-700 transition-all duration-300 ease-in-out hover:scale-105 p-2 min-w-20"
						target="_blank"
						href="https://www.linkedin.com/in/cj-karkut-046147293">LinkedIn</a
					>
					<a
						class="bg-gradient-to-r from-gray-600 to-gray-800 rounded-md shadow-md hover:bg-gradient-to-r hover:from-gray-700 hover:to-gray-900 transition-all duration-300 ease-in-out hover:scale-105 p-2 min-w-20"
						target="_blank"
						href="https://github.com/mr-steal-ur-code">GitHub</a
					>
				</div>
				<p class="py-6 sm:text-3xl md:text-6xl">Introduction</p>
				<p class="sm:text-base md:text-lg text-justify">
					CJ Karkut is a passionate web and backend developer with 3 years of
					hands-on experience building robust and scalable applications. In this
					short span, he has not only honed expertise in various web
					technologies but also successfully launched a product that addresses
					real-world needs. This accomplishment reflects his ability to turn
					innovative ideas into functional, user-centric solutions. Eager to
					continue growing in the tech field, CJ is committed to delivering
					high-quality results and staying at the forefront of industry
					advancements.
				</p>
			</div>
		</section>
		<section class="min-h-[70vh]" id="education">
			<p class="sm:text-3xl md:text-6xl text-center fade-in pt-20 pb-12">
				Education
			</p>
			<div class="vertical-bar">
				<div class="horizontal-element">
					<p class="text-white">Self Taught Development</p>
					<small>2021 - Current</small>
					<div class="flex flex-row justify-around pt-4">
						<ul class="pl-6 list-disc">
							<li>HTML</li>
							<li>CSS</li>
							<li>JavaScript</li>
							<li>TypeScript</li>
							<li>Tailwind</li>
						</ul>
						<ul class="pl-6 list-disc">
							<li>React-Native</li>
							<li>Node</li>
							<li>Express</li>
							<li>Firebase</li>
							<li>Cloud Functions</li>
						</ul>
					</div>
				</div>
				<div class="horizontal-element">
					<p class="text-white">TexasMcCombs Great Learning</p><small
						>2023 - 2024</small
					>
					<div class="flex flex-row justify-around pt-4">
						<ul class="pl-6 list-disc">
							<li>React</li>
							<li>Bootstrap</li>
							<li>JQuery</li>
						</ul>
						<ul class="pl-6 list-disc">
							<li>SQL</li>
							<li>MongoDB</li>
							<li>AWS</li>
						</ul>
					</div>
				</div>
				<div class="horizontal-element">
					<p class="text-white">Four Rivers Career Center</p>
					<small>2009 - 2010</small>
					<div class="flex flex-row justify-around pt-4">
						<ul class="pl-8 list-disc">
							<li>CompTIA A+</li>
						</ul>
						<ul class="pl-8 list-disc">
							<li>CompTIA Net+</li>
						</ul>
					</div>
				</div>
			</div>
		</section>
		<section class="min-h-[70vh] fade-in" id="work">
			<p class="sm:text-3xl md:text-6xl text-center fade-in pt-20 pb-12">
				Work
			</p>
			<div class="vertical-bar">
				<div class="horizontal-element">
					<p>Full Stack Developer</p>
					<small>Kutsolutions</small>
					<ul class="pl-6 list-disc">
						<li class="pb-3">
							Orchestrated front-end development with React and Tailwind,
							creating a Progressive Web App (PWA) that delivers responsive and
							intuitive user interfaces across devices.
						</li>
						<li class="pb-3">
							Architected RESTful APIs using Express, ensuring seamless
							integration between the front end and back end.
						</li>
						<li class="pb-3">
							Enhanced API security through custom middleware and OAuth
							token-based authentication, safeguarding user data.
						</li>
						<li class="pb-3">
							Developed a performant, server-side rendered website using Astro,
							optimizing load times and SEO.
						</li>
						<li class="pb-3">
							Integrated Stripe for seamless payment processing, including
							implementing and managing webhooks for real-time transaction
							updates.
						</li>
						<li class="pb-3">
							Leveraged Firebase as a backend solution, utilizing cloud
							functions to streamline serverless operations and improve
							scalability.
						</li>
						<li class="pb-3">
							Integrated the Postmark email API, enabling efficient and reliable
							transactional email delivery.
						</li>
						<li class="pb-3">
							TypeScript testing using ViTest, ensuring code quality and
							reliability across the application.
						</li>
					</ul>
				</div>
				<div class="horizontal-element">
					<p>Junior Developer</p>
					<small>The Flood Team</small>
					<ul class="pl-6 list-disc">
						<li class="pb-3">
							Crafted customizable email templates using HTML, CSS, and
							Handlebars, seamlessly integrating dynamic data fields to automate
							email generation and boost operational efficiency.
						</li>
						<li class="pb-3">
							Developed and deployed internal application tools that
							significantly enhanced production workflows and team productivity
						</li>
						<li class="pb-3">
							Diagnosed and resolved critical software bugs, leading to a more
							stable and reliable application, resulting in improved user
							satisfaction.
						</li>
						<li class="pb-3">
							Streamlined the global state management system, reducing data
							fetch times and elevating the overall user experience through
							performance optimizations.
						</li>
						<li class="pb-3">
							Executed comprehensive testing strategies with Jest, ensuring
							robust and bug-free application releases.
						</li>
					</ul>
				</div>
			</div>
		</section>
		<section class="min-h-[70vh] fade-in" id="certifications">
			<p class="sm:text-3xl md:text-6xl text-center pt-20 pb-12">
				Certifications
			</p>
			<div class="vertical-bar">
				<div class="horizontal-element">
					<p class="text-lg text-white">
						Professional Certificate in Full Stack Software Development
					</p>
					<small>MERN stack node and AWS</small>
					<ul class="pl-8 py-2 list-disc">
						<li>
							Demonstrates expertise in developing full stack applications using
							the MERN stack (MongoDB, Express, React, Node.js
						</li>
					</ul>
					<small class="block pt-4">July 2024</small>
				</div>
				<div class="horizontal-element">
					<p class="text-lg text-white">Net+</p><small>CompTIA</small>
					<ul class="pl-8 py-2 list-disc">
						<li>
							Strong foundation in networking concepts, including network
							configuration, management, and troubleshooting.
						</li>
					</ul>
					<small class="block pt-4">March 2011</small>
				</div>
				<div class="horizontal-element">
					<p class="text-lg text-white">A+</p><small>CompTIA</small>
					<ul class="pl-8 py-2 list-disc">
						<li>
							Validates comprehensive skills in IT hardware and software,
							including installation, configuration, and support.
						</li>
					</ul>
					<small class="block pt-4">March 2011</small>
				</div>
			</div>
		</section>
		<section class="min-h-[70vh] fade-in" id="skills">
			<p class="sm:text-3xl md:text-6xl text-center pt-20 pb-12">Skills</p>
			<div class="flex flex-wrap gap-8 justify-center max-w-[500px] m-auto">
				{skills.map((skill) => <div class="skill-element">{skill}</div>)}
			</div>
		</section>
		<section class="min-h-[70vh] fade-in pb-12" id="projects">
			<p class="sm:text-3xl md:text-6xl text-center pt-20 pb-12">Projects</p>
			<div class="flex flex-row flex-wrap gap-8 justify-center">
				<Card
					title="Consent Companion web app"
					image="/images/consent-companion.jpg"
					link="https://consentcompanion.app"
					content="A web app designed to streamline body modification consent forms and elevate the client experience."
					subContent="#React #Firebase #Vite #Node #Tailwind #Stripe #Express"
				/>
				<Card
					title="Consent Companion Website"
					image="/images/consent-companion-web.jpg"
					link="https://consentcompanion.com"
					content="This is the official website for the Consent Companion web app, optimized for performance and reliability with Astro's SSR (Server-Side Rendering)."
					subContent="#Astro #Firebase #Tailwind"
				/>
				<Card
					title="Frequency Finder"
					image="/images/frequency-finder.jpg"
					link="https://frequency-finder-e93f7.web.app/"
					content="A game developed with PhaserJs that challenges players to match random frequencies using keyboard input. The game features a user-friendly menu, an engaging game-over screen, immersive sound effects, and custom-designed assets."
					subContent="#PhaserJs #Firebase"
				/>
			</div>
		</section>
		<section class="min-h-[70vh] fade-in" id="contact">
			<p class="sm:text-3xl md:text-6xl text-center pt-20 pb-12">Contact</p>
			<div class="flex flex-col md:flex-row justify-center items-center gap-8">
				<div class="w-full md:w-1/2">
					<h3 class="text-2xl font-semibold text-white mb-4">Get in Touch</h3>
					<p class="text-white mb-6">
						Have a project in mind or just want to say hello? Feel free to reach
						out.
					</p>
					<a
						href="mailto:cjkarkut@kutsolutions.com"
						class="text-blue-500 hover:text-blue-300"
						>cjkarkut@kutsolutions.com</a
					>
				</div>
				<div class="w-full md:w-1/2">
					<h3 class="text-2xl font-semibold text-white mb-4">
						Join my Discord
					</h3>
					<p class="text-white mb-6">
						Connect with me and other like-minded individuals on my Discord
						server.
					</p>
					<a
						target="_blank"
						href="https://discord.gg/3UZREEwx"
						class="text-blue-500 hover:text-blue-300">Join my Discord</a
					>
				</div>
			</div>
		</section>
		<footer class="pb-12 flex flex-col items-center text-xl">
			<div>
				<p>Developed By CJ Karkut</p>
				<p>
					&copy; <span id="yearTag"></span> kutsolutions™ All rights reserved
				</p>
			</div>
		</footer>
		<p
			id="toTopButton"
			title="To Top"
			class="fixed bottom-3 left-[50%] cursor-pointer text-2xl to-top"
			data-id="top"
		>
		</p>
	</div>
</Layout>

<script>
	document.addEventListener("astro:page-load", () => {
		const yearString = new Date().getFullYear().toString();
		const yearTagEl = document.getElementById("yearTag") as HTMLSpanElement;
		yearTagEl.innerText = yearString;
		const sections = document.querySelectorAll(".fade-in");
		const educationElements = document.querySelectorAll(".horizontal-element");
		const skillElements = document.querySelectorAll(".skill-element");
		const allElements = [...sections, ...educationElements];

		const observer = new IntersectionObserver(
			(entries) => {
				entries.forEach((entry) => {
					if (entry.isIntersecting) {
						entry.target.classList.add("show");
					}
				});
			},
			{ threshold: 0.4 }
		);

		skillElements.forEach((element, index) => {
			setTimeout(() => {
				observer.observe(element);
			}, index * 200);
		});

		allElements.forEach((element) => {
			observer.observe(element);
		});
	});

	function setRandomTranslation() {
		const elements: any = document.querySelectorAll(".skill-element");
		elements.forEach((element: any) => {
			const random = Math.floor(Math.random() * 10) - 5;
			element.style.setProperty("--random-translate-y", `${random}px`);
			element.style.setProperty("--random-translate-x", `${random}px`);
		});
	}
	setRandomTranslation();
</script>
