@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply flex flex-col min-h-[100vh] bg-slate-900;
}

.fade-in {
  opacity: 0;
  transform: translateY(-60px);
  transition:
    opacity 1.2s ease-in-out,
    transform 1.2s ease-out;
}

.fade-in.show {
  opacity: 1;
  transform: translateY(0);
}